.header{
    height: 80px;
    padding: 0 30px;
    box-shadow: inset 0px -1px 0px #f3f3f4;

    .logo{
        h1{
            font-size: 20px;
        }
    }

    ul{
        align-items: center;
        display: flex;
        margin: 0;

        li{
            margin: 0 15px;
            &:last-child{
                margin: 0 0 0 15px;
            }
        }
    }
}


@media screen and (max-width: 520px){
    .header{
        padding: 0 15px;
        ul{
            li{
                margin: 0 6px;
                &:last-child{
                    margin: 0 0 0 6px;
                }
            }
        }
    }
}