@import "../../../../../assets/styles/1-settings/colors.scss";

.sidebar{
	text-align: center;
    position: sticky;
    top: 0;
    height: 100vh;

	&__logo{
        margin: 20px;
        text-align: left;
        h1{
            color: $color-accent;
            font-size: 20px;
        }
    }

	&__nav{
        a{
            color: inherit;
            width: 90%;
            height: 40px;
            padding: 0 12px;
            display: flex;
            align-items: center;
            margin: auto;
            &.active{
                color: $color-accent;
                border-radius: 3px;
                background-color: #F6F8FE;
            }
            &:hover{
                border-radius: 3px;
                background-color: #F6F8FE;
            }
        }
    }
}

@media screen and (max-width: 520px){
	.sidebar{
		width: 90%;
		margin: auto;
		float: unset;

		&__avatar{
			display: none;
		}

		&__nav{
            li{
                padding: 8px;
                display: inline-block;
            }
        }
	}
}