<div class="flex-row-layout jc-space-between ai-center">
	<h2 style="margin: 0">Calculadora</h2>
	<div>
		<button type="button" nz-button [nzType]="'default'"
			(click)="uploadExample()">Ejemplo</button>
	</div>
</div>
<br>
<div class="card">
	<form nz-form [nzLayout]="'vertical'"
	[formGroup]="bondFG" (ngSubmit)="onSubmit()">
		<div class="flex-row-layout">
			<nz-form-item>
				<nz-form-label>Método de Pago</nz-form-label>
				<nz-form-control nzErrorTip="Please select type!">
					<nz-select nzShowSearch nzAllowClear formControlName="metodoPago">
						<nz-option nzLabel="Selecciona" nzValue="" disabled></nz-option>
						<nz-option nzLabel="Francés" nzValue="Frances"></nz-option>
					</nz-select>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item>
				<nz-form-label>Tipo de moneda</nz-form-label>
				<nz-form-control nzErrorTip="Please select type!">
					<nz-select nzShowSearch nzAllowClear formControlName="tipoMoneda">
						<nz-option nzLabel="Selecciona" nzValue="" disabled></nz-option>
						<nz-option nzLabel="Soles" nzValue="PEN"></nz-option>
						<nz-option nzLabel="Dólares" nzValue="USD"></nz-option>
						<nz-option nzLabel="Euros" nzValue="EUR"></nz-option>
					</nz-select>
				</nz-form-control>
			</nz-form-item>
		</div>
		<div class="flex-row-layout jc-space-between flex-wrap">
			<nz-form-item style="width: 25%">
				<nz-form-label>Valor Nominal</nz-form-label>
				<nz-form-control nzErrorTip="Please input title">
					<input nz-input formControlName="valorNominal" min="0" type="number"/>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item style="width: 25%">
				<nz-form-label>Valor Comercial</nz-form-label>
				<nz-form-control nzErrorTip="Please input previewImage">
					<input nz-input formControlName="valorComercial" min="0" type="number"/>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item style="width: 25%">
				<nz-form-label>N° de Años</nz-form-label>
				<nz-form-control nzErrorTip="Please input previewImage">
					<input nz-input formControlName="numAnios" min="0" type="number"/>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item style="width: 25%">
				<nz-form-label>Tipo de Año</nz-form-label>
				<nz-form-control nzErrorTip="Please select type!">
					<nz-select nzShowSearch nzAllowClear formControlName="tipoAnio">
						<nz-option nzLabel="Selecciona" nzValue="" disabled></nz-option>
						<nz-option nzLabel="Ordinario" nzValue="360"></nz-option>
						<nz-option nzLabel="Exacto" nzValue="365"></nz-option>
					</nz-select>
				</nz-form-control>
			</nz-form-item>
		</div>
		<div class="flex-row-layout jc-space-between flex-wrap">
			<nz-form-item style="width: 25%">
				<nz-form-label>Frecuencia de Pago</nz-form-label>
				<nz-form-control nzErrorTip="Please select type!">
					<nz-select nzShowSearch nzAllowClear formControlName="frecuenciaPago">
						<nz-option nzLabel="Selecciona" nzValue="" disabled></nz-option>
						<nz-option *ngFor="let opt of tipoDeFrecuencias"
							[nzLabel]="opt.label" [nzValue]="opt.value"></nz-option>
					</nz-select>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item style="width: 25%">
				<nz-form-label>Tipo de tasa</nz-form-label>
				<nz-form-control nzErrorTip="Please select type!">
					<nz-select nzShowSearch nzAllowClear formControlName="tipoTasa">
						<nz-option nzLabel="Selecciona" nzValue="" disabled></nz-option>
						<nz-option nzLabel="Efectiva" nzValue="Efectiva"></nz-option>
						<nz-option nzLabel="Nominal" nzValue="Nominal"></nz-option>
					</nz-select>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item style="width: 25%">
				<nz-form-label>Tasa de Interés (%)</nz-form-label>
				<nz-form-control nzErrorTip="Please input previewImage">
					<input nz-input formControlName="montoTasa" min="0" type="number"/>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item style="width: 25%">
				<nz-form-label>Tasa Descontada (%)</nz-form-label>
				<nz-form-control nzErrorTip="Please input previewImage">
					<input nz-input formControlName="tasaDescontada" min="0" type="number"/>
				</nz-form-control>
			</nz-form-item>
		</div>
		<div class="flex-row-layout jc-space-between flex-wrap">
			<nz-form-item style="width: 20%">
				<nz-form-label>Prima (%)</nz-form-label>
				<nz-form-control nzErrorTip="Please select type!">
					<input nz-input formControlName="prima" min="0" type="number"/>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item style="width: 20%">
				<nz-form-label>Estructuración (%)</nz-form-label>
				<nz-form-control nzErrorTip="Please input previewImage">
					<input nz-input formControlName="estructuracion" min="0" type="number"/>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item style="width: 20%">
				<nz-form-label>Colocacion (%)</nz-form-label>
				<nz-form-control nzErrorTip="Please select type!">
					<input nz-input formControlName="colocacion" min="0" type="number"/>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item style="width: 20%">
				<nz-form-label>Flotacion (%)</nz-form-label>
				<nz-form-control nzErrorTip="Please input previewImage">
					<input nz-input formControlName="flotacion" min="0" type="number"/>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item style="width: 20%">
				<nz-form-label>CAVALI (%)</nz-form-label>
				<nz-form-control nzErrorTip="Please select type!">
					<input nz-input formControlName="cavali" min="0" type="number"/>
				</nz-form-control>
			</nz-form-item>
    	</div>
		<div class="text-right">
			<button type="button" nz-button [nzType]="'default'"
				(click)="reset()" style="margin-right: 15px;">Limpiar</button>
			<button type="submit" nz-button [nzType]="'primary'" [disabled]="bondFG.invalid">
				<span *ngIf="method == 'create' && !loading">Calcular flujo</span>
				<span *ngIf="method == 'update' && !loading">Editar flujo</span>
			</button>
		</div>
	</form>
</div>
<br>
<br>
<div class="card" *ngIf="flowList.length > 0">
	<div>
		<div class="flex-row-layout jc-space-between flex-wrap">
			<div class="each-card">
				<h5>TIR Emisor</h5>
				<div>
					<span>{{tasaTIREmisor | number: '1.2-2'}}%</span>
				</div>
			</div>
			<div class="each-card">
				<h5>TCEA Emisor</h5>
				<div>
					<span>{{tasaTCEAEmisor | number: '1.2-2'}}%</span>
				</div>
			</div>
			<div class="each-card">
				<h5>TIR Bonista</h5>
				<div>
					<span>{{tasaTIRBonista | number: '1.2-2'}}%</span>
				</div>
			</div>
			<div class="each-card">
				<h5>TREA Bonista</h5>
				<div>
					<span>{{tasaTREABonista | number: '1.2-2'}}%</span>
				</div>
			</div>
		</div>
		<div style="overflow-x:auto;">
			<nz-table #saleTable nzSize="middle" [nzData]="flowList">
				<thead>
					<tr>
						<th>N°</th>
						<th>Cupon Excel</th>
						<th>C.I. Emisor</th>
						<th>Prima</th>
						<th>Flujo Emisor</th>
						<th>Flujo Bonista</th>
						<th>Cupon Clase</th>
						<th>Cuota</th>
						<th>Amortizacion</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let data of saleTable.data,let i=index">
						<td>{{i}}</td>
						<td>{{data.cuponExcel | number: '1.2-2'}}</td>
						<td>{{data.costosInicialesEmisor | number: '1.2-2'}}</td>
						<td>{{data.prima | number: '1.2-2'}}</td>
						<td>{{data.flujoEmisor | number: '1.2-2'}}</td>
						<td>{{data.flujoBonista | number: '1.2-2'}}</td>
						<td>{{data.cupon | number: '1.2-2'}}</td>
						<td>{{data.cuota | number: '1.2-2'}}</td>
						<td>{{data.amortizacion | number: '1.2-2'}}</td>
					</tr>
				</tbody>
			</nz-table>
		</div>
		<div class="text-right">
			<button type="button" nz-button [nzType]="'primary'" (click)="showModal()">
				<span>Guardar bono</span>
			</button>
		</div>
	</div>
</div>

<nz-modal class="modal" [(nzVisible)]="isVisible" [nzFooter]="null" (nzOnCancel)="handleCancel()">
  <div class="modal-title">
    <h4 class="text-center" style="margin:0">¡En hora buena!</h4>
  </div>
  <div class="modal-content">
    <div>
		<form nz-form [nzLayout]="'vertical'" [formGroup]="saveBondFG" (ngSubmit)="saveBond()">
			<nz-form-item style="width: 25%">
				<nz-form-label>Escribe un nombre</nz-form-label>
				<nz-form-control nzErrorTip="Please input title">
					<input nz-input formControlName="nameBond"/>
				</nz-form-control>
			</nz-form-item>
			<div class="text-right">
				<button type="submit" nz-button [nzType]="'primary'">
					<span>Guardar</span>
				</button>
			</div>
		</form>
	</div>
  </div>
</nz-modal>
