.login-view{
    max-width: 300px;
    width: 100%;
    margin: auto;

    &__content{
        padding: 28px 0;
        h1{
            font-size: 1.25rem;
            margin-bottom: 32px;
            margin-top: 16px;
        }
    }
}