button {
    display: inline-block;
    -webkit-appearance: none;
    outline: none;
    text-align: center;
    border: 0;
    letter-spacing: 0.05em;
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;
    text-align: left;
}


.button-margin{
    margin: 5px;
}

.second-button{
    border-radius: 3px;
    border: 1px solid #fe7a00;
    color: #fe7a00;
    background-color: #fff4e1;
    padding: 7px 14px;
}