@import "../../../../../assets/styles/1-settings/colors.scss";

.hero{
    height: 480px;
    padding: 0 70px;
    display: flex;
    align-items: center;
    &_content{
        max-width: 624px;
        h1{
            font-size: 48px;
            font-weight: 700;
            line-height: 56px;
        }
        div{
            margin: 16px 0;
            font-size: 16px;
        }
    }
    &_image{
        background-image: url('../../../../../assets/images/hero-woman.jpg');
        background-position: center;
        width: 510px;
        height: 360px;
        background-size: cover;
    }
}

@media screen and (max-width: 520px){
    .hero{
        height: auto;
        display: block;
        padding: inherit;
        margin-top: 20%;
        &_content{
            max-width: 90%;
            margin: 20px auto;
            text-align: center;
            h1{
                font-size: 30px;
                line-height: inherit;
            }
            div{
                margin: 10px 0;
                font-size: 14px;
            }
        }
        &_image{
            width: 90%;
            height: 260px;
        }
    }

}