<header class="header flex-row-layout ai-center jc-space-between">
  <div>
    <span>Bonos</span><span>Corporativos</span>
  </div>
  <div>
    <ul>
      <li>
        <a href="https://github.com/diananr/corporate-bonds-front" target="_blank">Github</a>
      </li>
      <li>
        <a routerLink="/auth">Inicia Sesión</a>
      </li>
      <li>
        <a routerLink="/auth/signup">Regístrate</a>
      </li>
    </ul>
  </div>
</header>
<section class="hero flex-row-layout ai-center">
  <div class="hero_content">
    <h1>Bonos<br>Corporativos</h1>
    <div>
      <p>Te ayudamos a calcular tus bonos corporativos.</p>
    </div>
    <a nz-button [nzType]="'primary'" routerLink="/admin">
      Empezar a calcular
    </a>
  </div>
</section>