$avenir-book: 'Avenir Book';
$avenir-medium: 'Avenir Medium';
$avenir-heavy: 'Avenir Heavy';
$rubik: 'Rubik';
$rubik-bold: 'Rubik Bold';
$fredoka-one: 'FredokaOne';
$catamaran: 'Catamaran';

$font-primary: $catamaran, sans-serif;
$font-bold: $rubik-bold;