<div>
	<div class="flex-row-layout jc-space-between">
		<div></div>
		<div>
			<button nz-button [nzType]="'default'" routerLink="/admin" (click)="showModal()">Registrar Bono</button>
		</div>
	</div>
	<div>
		<nz-table #saleTable nzSize="middle" [nzData]="sales" [nzLoading]="loading">
			<thead>
				<tr>
					<th>Valor Comercial</th>
					<th>Frecuencia de Pago</th>
					<th>Tasa</th>
					<th>TIR</th>
					<th>TCEA</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let data of saleTable.data">
					<td>{{data.valorComercial}}</td>
					<td>{{data.frecuenciaPago}}</td>
          <td>{{data.montoTasa}}</td>
          <td>{{data.tasaTIRBonista}}</td>
					<td>{{data.tasaTCEAEmisor}}</td>
				</tr>
			</tbody>
		</nz-table>
	</div>
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Nueva oferta" [nzFooter]="null"
	(nzOnCancel)="hideModal()">
	<sale-form [method]="method.CREATE"></sale-form>
</nz-modal>
