@font-face {
    font-family: 'Avenir Black';
    src: url('/assets/fonts/avenir/AvenirLTStd-Black.otf') format('opentype')
}

@font-face {
    font-family: 'Avenir Black Oblique';
    src: url('/assets/fonts/avenir/AvenirLTStd-BlackOblique.otf') format('opentype')
}

@font-face {
    font-family: 'Avenir Book';
    src: url('/assets/fonts/avenir/AvenirLTStd-Book.otf') format('opentype')
}

@font-face {
    font-family: 'Avenir Book Oblique';
    src: url('/assets/fonts/avenir/AvenirLTStd-BookOblique.otf') format('opentype')
}

@font-face {
    font-family: 'Avenir Heavy';
    src: url('/assets/fonts/avenir/AvenirLTStd-Heavy.otf') format('opentype')
}

@font-face {
    font-family: 'Avenir Heavy Oblique';
    src: url('/assets/fonts/avenir/AvenirLTStd-HeavyOblique.otf') format('opentype')
}

@font-face {
    font-family: 'Avenir Light';
    src: url('/assets/fonts/avenir/AvenirLTStd-Light.otf') format('opentype')
}

@font-face {
    font-family: 'Avenir Heavy Oblique';
    src: url('/assets/fonts/avenir/AvenirLTStd-LightOblique.otf') format('opentype')
}

@font-face {
    font-family: 'Avenir Medium';
    src: url('/assets/fonts/avenir/AvenirLTStd-Medium.otf') format('opentype')
}

@font-face {
    font-family: 'Avenir Medium Oblique';
    src: url('/assets/fonts/avenir/AvenirLTStd-MediumOblique.otf') format('opentype')
}

@font-face {
    font-family: 'Avenir Oblique';
    src: url('/assets/fonts/avenir/AvenirLTStd-Oblique.otf') format('opentype')
}

@font-face {
    font-family: 'Avenir Roman';
    src: url('/assets/fonts/avenir/AvenirLTStd-Roman.otf') format('opentype')
}
