@font-face {
    font-family: 'Rubik';
    src: url('/assets/fonts/Rubik-Regular.ttf') format('truetype')
}
@font-face {
    font-family: 'Rubik Bold';
    src: url('/assets/fonts/Rubik-Bold.ttf') format('truetype')
}
@font-face {
    font-family: 'FredokaOne';
    src: url('/assets/fonts/FredokaOne-Regular.ttf') format('truetype')
}
@font-face {
    font-family: 'Catamaran';
    src: url('/assets/fonts/Catamaran-Regular.ttf') format('truetype')
}